@import "typographpy/typography";

// Main CSS

@import "main/rtl";
@import "main/about";
@import "main/testimonial";
@import "main/service";
@import "main/tokyo";
@import "main/dark";

// PREVIEW SCSS
@import "preview/preview";
@import "node_modules/react-modal-video/scss/modal-video.scss";
.tokyo_tm_home {
    transition: all 0.3s ease;
  }
  
  .tokyo_tm_home.sticky {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    transform: scale(0.8);
    transform-origin: top left;
  }