.testimonila-slider-wrapper {
    .slick-slide {
        padding: 0 15px;
    }
    .slick-list {
        margin: 0 -15px;
        border-bottom: 1px solid #dfdfdf;
        padding-bottom: 30px;
        margin-bottom: 40px;
    }
}
